#content {
    margin: 0 auto;
    width: 900px;
}

#masthead {
    text-align: center;
    width: 100%;
    margin:0 auto;
}
/* text for headline */
.headline {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    margin-bottom: 5px;
}

.subheading {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1px;
    margin-bottom: 10px;
}

.bodytext {
    font-family: Georgia, "Times New Roman", serif;
    font-size:13px;
    margin: 0;
    padding: 0 20px;
}

#byline {
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
    font-style:italic;
    margin-top: 10px;
}

.photo img {
    width:100%;
    margin-top: 7px;
}

.photo-caption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    color:#696969;
    margin-top:2px;
    margin-bottom: 5px;
}

.photo-attribution {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8px;
    color:#696969;
    margin-top:2px;
    margin-bottom: 5px;
}

blockquote {
    font: 24px normal helvetica, sans-serif;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #01014c;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 4px solid #696969;
}

.read-more-section {
    margin-top: 15px;
    padding-top: 10px;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #01014c;
    color: white;
    margin-top: 10px;
    margin-bottom:0px;
    margin-right: 0;
    margin-left: 0;
    width:100%;
}

ul{
    margin-top: 0px;
    display:inline;
}

a:link {
  text-decoration: none;
  color:#01014c;
}

a:visited {
  text-decoration: none;
  color: rgb(65, 65, 65);
}

a:hover {
  text-decoration: underline;
}

li {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}